## LECTURE 01

In [2]:
print(3.14*True) #True is taken as 1 in this cindition

3.14

In [3]:
print("Abhay"*5) #It will print 5 times Abhay

AbhayAbhayAbhayAbhayAbhay

In [4]:
print("Abhay" +5) # Error

TypeError: can only concatenate str (not "int") to str

In [5]:
print("Abhay"*(True*5)) #Abhay 5 times

AbhayAbhayAbhayAbhayAbhay

In [6]:
#Two Strings can be concatenated by using + operator
print("Abhay" + "Aditya") #AbhayAditya

AbhayAditya

In [7]:
#String multiply with Float
print('Abhay'*3.0) #error

TypeError: can't multiply sequence by non-int of type 'float'

In [9]:
#Boolean * String
print('abhay'*True) #abhay

abhay

In [11]:
print('Abhay'>'Aditya') #when a string is compared to another string. It compares the ASCII value

False

In [15]:
print(False*'abhay') #It gives none (empty space)

In [17]:
type(print('abhay'*False)) #It gives NoneType

NoneType

In [19]:
print(print('abhay'))

#Output:
#abhay
#none

abhay
None

In [23]:
print(int(3.14)) #3
print(int(True)) #1
print(int(False)) #0
print(int('abhay")) #error

SyntaxError: unterminated string literal (detected at line 4) (2496453048.py, line 4)

## LECTURE 02

In [24]:
#Take input of amount, years, and rate of interest and compute the Simple Interest

In [29]:
amount= float(input("Amount"))
time = int(input("Years"))
rateOfInterest= int(input("Rate Of Interest"))

simpleInterest = (amount*time*rateOfInterest)/100
print("Simple Interest is", simpleInterest)

Amount 2000
Years 1
Rate Of Interest 23

Simple Interest is 460.0

In [31]:
a,b =0 #will give error
a,b= 0,0 #values will be assigned
print(a,b)

0 0

## LECTURE 03

In [32]:
# Print first 10 numbers that are divisible by 5,3 and 7

In [33]:
counter = 0
for i in range(1, 2000):
    if (i%3==0 and i%5==0 and i%7==0):
        print(i)
        counter +=1
    if counter==10:
        break

105
210
315
420
525
630
735
840
945
1050

In [34]:
n=10
for i in range(1,n+1):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [35]:
n=10
for i in range(1,n+1):
    print('*'*n)

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [37]:
#printing a saquare where expect first and last rows, the middle elements are hollow
n=5
print('*'*n) # for first line
for i in range(n):
    print('*'+' '*(n-2)+'*')
print('*'*n)

*****
*   *
*   *
*   *
*   *
*   *
*****